*{  
    padding: 0px;
    margin: 0px;

}
body{
    background-color: #D5BBB1;
    padding: 10% 0% 20% 0%;
    display: flex;
    justify-content: center;
}

#main{
    background-color: #C98CA7;
    width: 30%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
    min-width: 300px;
}

#head{
    font-size: large;
    padding: 20px;
}

#input{
    padding: 5%;
}


#newInput{
    width: 70%;
    height: 20px;
    border-radius: 5px;
}
#root{
    padding: 20px;
}
#addNewButton{
    width: 25%;
    background-color: #393D3F;
    height: 25px;
    color: white;
    border-radius: 5px;

}

.tasks{
    background-color: #ce4181ed;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.tasks button{
    margin: 5px 5px;
    height: 25px;
    background-color: #393D3F;
    border-radius: 5px;
    color: white;
    width: 75px;
}

.tasks h2{
    margin: 5px;
}
.centered{
    display:flex;
    justify-content: center;
}


